@model IEnumerable<Fetka.Models.ApplicationUser>
@{
    ViewBag.Title = "ManageUsers";
}

<h2>Zarządzanie użytkownikami</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Blocked)
        </th>
        <th>Operacje</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @if (item.Blocked)
                {<text>Tak</text> }
            else
            { <text>Nie</text>}
            </td>
            <td>
                @Html.ActionLink("Edytuj", "EditUser", new { id = item.Id }) |
                @Html.ActionLink("Usuń", "DeleteUser", new { id = item.Id })
            </td>
        </tr>
    }

</table>
