@model Fetka.Models.Compound

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Compound</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CAS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Purity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Certificate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Certificate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CompoundId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
