@model IEnumerable<Fetka.Models.Compound>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Purity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Certificate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Purity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Certificate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDeleted)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CompoundId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CompoundId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CompoundId })
        </td>
    </tr>
}

</table>
